PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=techstore_db
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_SECRET=una_clave_muy_secreta_larga_2026
JWT_EXPIRES_IN=8h

# Opcional - para MFA por Email (Opción B)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
